.movie-cover {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

select.sidebar_year_dropdown {
  height: 50px;;
  width: 100%;
  overflow-y: auto; /* This makes sure a scrollbar appears when necessary */
}

select#status {
  width: 100%;
}

select#rating {
  width: 100%;
}
