.movie-cover {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

select.sidebar_year_dropdown {
  height: 50px;;
  width: 100%;
  overflow-y: auto; /* This makes sure a scrollbar appears when necessary */
}

select#status {
  width: 100%;
}

select#rating {
  width: 100%;
}
