<div class="sidebar-container p-3">
  <h1>FlickFolio</h1>
  <button class="btn btn-success" (click)="showForm = !showForm">Add a Movie</button>

  <div *ngIf="showForm">
    <input [(ngModel)]="newMovie.title" placeholder="Title">
    <input [(ngModel)]="newMovie.releaseDate" placeholder="Release Date">
    <input [(ngModel)]="newMovie.status" placeholder="Status">
    <select [(ngModel)]="newMovie.rating">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
      <option value="MA">MA</option>
    </select>

    <input [(ngModel)]="newMovie.platform" placeholder="Platform">
    <button class="btn btn-primary" (click)="addMovie()">Save Movie</button>
  </div>

  <div *ngIf="selectedMovie">
    <h2>{{ selectedMovie }}</h2>
    <img [src]="selectedMovie?.coverUrl" alt="Movie Cover" *ngIf="selectedMovie?.coverUrl">

  </div>

</div>
