button {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  cursor: pointer;
  outline: none;
}

select.year-dropdown {
  height: 50px;;
  width: 100%;
  padding: 2px;
  font-size: 18px;
  overflow-y: auto; /* This makes sure a scrollbar appears when necessary */
}
