<app-filters (filtersChanged)="applyFilters($event)" (onSort)="handleSort($event)"></app-filters>


<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th><button (click)="handleSort('title')">Title</button></th>
      <th><button (click)="handleSort('releaseDate')">Release Year</button></th>
      <th><button (click)="handleSort('status')">Status</button></th>
      <th><button (click)="handleSort('rating')">Rating</button></th>
      <th><button (click)="handleSort('platform')">Platform</button></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of filteredMovies">
      <!-- Check if the movie is being edited -->
      <ng-container *ngIf="editingMovie?.id !== movie.id; else editTemplate">
        <td (click)="movieClicked(movie)">{{movie.title}}</td>
        <td>{{movie.releaseDate}}</td>
        <td>{{movie.status}}</td>
        <td>{{movie.rating}}</td>
        <td>{{movie.platform}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="startEditing(movie)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteMovie(movie.id)">Delete</button>
        </td>
      </ng-container>

      <!-- Template for editing a movie -->
      <ng-template #editTemplate>
        <td><input [(ngModel)]="editingMovie.title" /></td>

        <td>
          <select class="year-dropdown" [(ngModel)]="editingMovie.releaseDate" >
            <option *ngFor="let year of getYears()" [value]="year">
              {{ year }}
            </option>
          </select>
        </td>

        <td>
          <select [(ngModel)]="editingMovie.status">
            <option value="Watched">Watched</option>
            <option value="Unwatched">Unwatched</option>
          </select>
        </td>

        <td>
          <select [(ngModel)]="editingMovie.rating">
              <option value="G">G</option>
              <option value="PG">PG</option>
              <option value="PG-13">PG-13</option>
              <option value="R">R</option>
              <option value="MA">MA</option>
          </select>
      </td>


        <td><input [(ngModel)]="editingMovie.platform" /></td>
        <td>
          <button class="btn btn-sm btn-success" (click)="saveEditedMovie()">Save</button>
          <button class="btn btn-sm btn-secondary" (click)="editingMovie = null">Cancel</button>
        </td>
      </ng-template>
    </tr>
    <p>Total Movies: {{ movies.length }}</p>
  </tbody>
</table>
