<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Filters</a>
          </li>
          <li class="filter-item" (click)="sort('status')">
              Status
          </li>
          <li class="nav-item">
              Release Date
          </li>
          <li class="nav-item">
              Rating
          </li>
          <li class="nav-item">
              Platform
          </li>
      </ul>
  </div>
</nav>
